body {
  background-color: #FFC72C;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
}

h1 {
  color: #041E42;
  font-size: 3em;
}

p {
  color: #041E42;
  font-size: 2.5em;
}

button {
  font-size: 1.75em;
}

