html, body {
  background-color: #FFC72C;
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS', sans-serif;
  height: 100%;
  text-align: center;
  padding: 1em;
}

.container {
  flex: auto;
}

h1 {
  color: #041E42;
  font-size: 3em;
}

p {
  color: #041E42;
  font-size: 2.5em;
}

#check-button {
  font-size: 1.75em;
}

.footer {
  text-align: center;
  flex-shrink: 0;
}

